*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}



body{
    background-color: rgb(250, 248, 248);
    color: rgb(2, 2, 2);
    background-image: url(bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: 20px;
}


#header{
    width: 100%;
    height: 90vh;
    margin-top: 10px;
    background-image: url(circle.png);
    background-position: 80%;
    background-size: 400px;
    background-repeat: no-repeat;  
}

.navbar{
    
    padding: 25px 5%;
}
.name:hover{
    color: red;
}


.name{
    color: rgb(243, 240, 240);
    width: 140px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
#stick{
  position: sticky;
  z-index: 222;
    position: sticky;
    top: 0;
    left: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0%;
}
.navbar{
  position: sticky;
  background-color: black;

}



nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}

nav ul li a{
    text-decoration: none;
    color: rgb(249, 246, 246);
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: rgb(255, 21, 0);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li a:hover{
    color: rgb(255, 0, 0);
}



.header-text h1{
    font-size: 60px;
    margin-top: 100px;
    padding-left: 80px;

}


.header-text p{
    padding-left: 80px;
    font-size: 20px;
    position: relative;
    display: flex;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.header-text h3{
  padding-left: 80px;
    font-size: 20px;
}

.header-text h2{
    font-size: 20px;
    margin-top: 30px;
}

.aboutme h2{
    margin-left: 150px;
    margin-right: 150px;
    font-size: 25px;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }


.resumecv{
    text-decoration: none;
    color: rgb(240, 237, 237);
    color: black;
    font-family: 'poppins',sans-serif; 
    text-align: center;
    position: relative;
    left: 140px;
    top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: red;
    border-radius: 15px

    

}

span{
    color: rgb(255, 38, 0);
}

#pos{
    border-radius: 15px;
    margin-top: 140px;
    
}



#resume{
    margin-top: 150px;
    text-align: center;
}
#resume img{
    width: 70%;
}
#resume p{
    font-size: 25px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
    justify-content: center;
    margin-top: 10px;
    font-weight: 100;
    margin-bottom: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#resume h1{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#resume h2{
    font-weight: 400;
}
#resume a{
    text-decoration: none;
    color: rgb(12, 12, 12);
    background-color: rgb(34, 85, 186);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.product-listing {
    padding: 50px;
    text-align: center;
    margin-top: 80px;
  }
  .product-listing1{
    padding: 50px;
    text-align: center;
    margin-top: 80px;
    background-color: black;
    color: white;
    
  }
  
  
  .product-listing h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  
  .products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .product{
    background-color: white;
    border-radius: 8px;
    padding: 4px;
    margin: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin-bottom: 30px;
  }

  .product :hover{
    color: orange;
  }
  
  .product img {
    width: 40%;
    border-radius: 8px;
    height: 80px;
    margin: 20px;
    object-fit: fill;
    align-items: center;
    
  }
  .product:hover img {
    transform: scale(1.1);  /* Zooms in on the image */
  }
  
  
  .product h3 {
    margin-top: 10px;
    font-size: 15px;
    color: black;
    
  }
  
  .product p {
    font-size: 15px;
    color: #444;
  }
  
  .product button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .aboutme h2{
    margin-left: 150px;
    margin-right: 150px;
    font-size: 25px;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #end{
    text-decoration: none;
    color: rgb(12, 12, 12);
    background-color: rgb(34, 85, 186);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
 
  @media (max-width: 700px) {
    .container {
        flex-direction: column; /* Switch to vertical layout */
    }

    #header{
      background-image: url(circle.png);
      background-position: 80%;
    background-size: 150px;
    background-repeat: no-repeat;  

    }

    .header-text h1{
      font-size: 30px;
    }
    .header-text p{
      font-size: 10px;
    }
    .navbar{
      list-style-position: inside;
    }
    #resume p{
      font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    }
    .products {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .aboutme h2{
      font-size: 25px;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      justify-content: center;
    }
  
    }

  
    
  



